@font-face {
  font-family: 'fontello';
  src: url('../font/fontello.eot?76343684');
  src: url('../font/fontello.eot?76343684#iefix') format('embedded-opentype'),
       url('../font/fontello.woff2?76343684') format('woff2'),
       url('../font/fontello.woff?76343684') format('woff'),
       url('../font/fontello.ttf?76343684') format('truetype'),
       url('../font/fontello.svg?76343684#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?76343684#fontello') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-star:before { content: '\e800'; } /* '' */
.icon-th-list:before { content: '\e801'; } /* '' */
.icon-comment:before { content: '\e802'; } /* '' */
.icon-search:before { content: '\e803'; } /* '' */
.icon-star-empty:before { content: '\e804'; } /* '' */
.icon-chart-bar:before { content: '\e805'; } /* '' */
.icon-flag:before { content: '\e806'; } /* '' */
.icon-cloud:before { content: '\e807'; } /* '' */
.icon-truck:before { content: '\e808'; } /* '' */
.icon-asset-1:before { content: '\e809'; } /* '' */
.icon-asset-2:before { content: '\e80a'; } /* '' */
.icon-asset-3:before { content: '\e80b'; } /* '' */
.icon-asset-20:before { content: '\e80c'; } /* '' */
.icon-asset-5:before { content: '\e80d'; } /* '' */
.icon-info-circled:before { content: '\e80e'; } /* '' */
.icon-up-big:before { content: '\e80f'; } /* '' */
.icon-asset-7:before { content: '\e810'; } /* '' */
.icon-left-open:before { content: '\e811'; } /* '' */
.icon-right-open:before { content: '\e812'; } /* '' */
.icon-ok:before { content: '\e813'; } /* '' */
.icon-cancel:before { content: '\e814'; } /* '' */
.icon-tags:before { content: '\e815'; } /* '' */
.icon-asl:before { content: '\e816'; } /* '' */
.icon-lightbulb:before { content: '\e817'; } /* '' */
.icon-asset-8:before { content: '\e818'; } /* '' */
.icon-fuel:before { content: '\e819'; } /* '' */
.icon-bell:before { content: '\e81a'; } /* '' */
.icon-asset-9:before { content: '\e81b'; } /* '' */
.icon-asset-14:before { content: '\e81c'; } /* '' */
.icon-asset-15:before { content: '\e81d'; } /* '' */
.icon-asset-22:before { content: '\e81e'; } /* '' */
.icon-down-big:before { content: '\e81f'; } /* '' */
.icon-dot-3:before { content: '\e820'; } /* '' */
.icon-cog:before { content: '\e821'; } /* '' */
.icon-plus:before { content: '\e823'; } /* '' */
.icon-minus:before { content: '\e824'; } /* '' */
.icon-pencil:before { content: '\e826'; } /* '' */
.icon-filter:before { content: '\e828'; } /* '' */
.icon-retweet:before { content: '\e82e'; } /* '' */
.icon-users:before { content: '\e838'; } /* '' */
.icon-user:before { content: '\e83a'; } /* '' */
.icon-calendar:before { content: '\e83d'; } /* '' */
.icon-block:before { content: '\e83e'; } /* '' */
.icon-road:before { content: '\e83f'; } /* '' */
.icon-home:before { content: '\e840'; } /* '' */
.icon-clock:before { content: '\e848'; } /* '' */
.icon-phone:before { content: '\e84c'; } /* '' */
.icon-menu:before { content: '\f0c9'; } /* '' */
.icon-list-numbered:before { content: '\f0cb'; } /* '' */
.icon-table:before { content: '\f0ce'; } /* '' */
.icon-money:before { content: '\f0d6'; } /* '' */
.icon-mail-alt:before { content: '\f0e0'; } /* '' */
.icon-gauge:before { content: '\f0e4'; } /* '' */
.icon-bell-alt:before { content: '\f0f3'; } /* '' */
.icon-food:before { content: '\f0f5'; } /* '' */
.icon-flag-empty:before { content: '\f11d'; } /* '' */
.icon-star-half-alt:before { content: '\f123'; } /* '' */
.icon-direction:before { content: '\f124'; } /* '' */
.icon-mic:before { content: '\f130'; } /* '' */
.icon-mute:before { content: '\f131'; } /* '' */
.icon-calendar-empty:before { content: '\f133'; } /* '' */
.icon-right:before { content: '\f178'; } /* '' */
.icon-building-filled:before { content: '\f1ad'; } /* '' */
.icon-cubes:before { content: '\f1b3'; } /* '' */
.icon-sliders:before { content: '\f1de'; } /* '' */
.icon-user-plus:before { content: '\f234'; } /* '' */
.icon-bed:before { content: '\f236'; } /* '' */